{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <title>Title</title>
</head>
<body style="background: #f8f9fa">
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'index' %}">
        <img src="{% static '/common/logo.JPG' %}" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Home</a>
        </li>
          <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'all jobs' %}">All Jobs</a>
        </li>
          <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'all teams' %}">Teams</a>
        </li>
          </li>
          <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'all cyclists' %}">Cyclists</a>
        </li>
{#      TODO: chek this below#}
          {% if request.user.role == 'Cyclist' %}
          <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Calories</a>
        </li>
              {% elif request.user.role == 'Team Manager' %}
              <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Create Job</a>
        </li>
          {% endif %}
      </ul>

      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-primary" type="submit">Search</button>
      </form>
     <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              {% if request.user.is_authenticated %}
        <li>
          <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'sign out' %}">LogOut</a>
        </li>
                  <li>
          <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Profile</a>
        </li>
         {% else %}
                   <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'sign in' %}">SignIn</a>
        </li>
          <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'sign up' %}">SignUp</a>
         {% endif %}
     </ul>

    </div>
  </div>
</nav>

{% block page_content %}
{% endblock %}

<footer>
    <div class=".table-footer">
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'about us' %}">About Us</a>
        </li>
          <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Contact Us</a>
        </li>
      </ul>
    </div>
  </div>

</footer>

</body>

</html>