{% extends 'base/base.html' %}
{% block page_content %}
    <h1>About us</h1>
    <p>I started development on ProCyclingPy in May 2024. After a short beta test in ... of that year, I launched on ... . As the site has grown, so has our team. </p>
    <div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="..." class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Bogomila Katsarska</h5>
        <p class="card-text">CEO / Developer</p>
        <p class="card-text"><small class="text-muted">bkatsarska@abv.bg</small></p>
      </div>
    </div>
  </div>
</div>
{% endblock %}