{% extends 'base/base.html' %}
{% load static %}
{% block page_content %}

    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card h-100">
                <img src="{% static 'common/pro-cycling-teams.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Teams Chart</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="{% static 'common/individual-cyclist.png' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Cyclists Chart</h5>
                    {% for cyclist in top_three_cyclists %}
                        <p class="card-text">{{ cyclist.first_name }} {{ cyclist.last_name }} -
                            Points: {{ cyclist.points }}</p>
                        {#                        </div>#}
                        {#                        {% if cyclist.points %}#}
                        {#                        <div class="card-footer">#}
                        {#                            <small class="text-muted">Total Points: {{ cyclist.points }}</small>#}
                        {#                        </div>#}
                        {#                        {% endif %}#}
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="{% static 'common/cyclist-job.png' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Recently Added Jobs</h5>
                    {% for job in recently_added_jobs %}
                        <p class="card-text">{{ job.title }}</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Added on: {{ job.created_at }}</small>
                        </div>
                    {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}