{% extends 'base/base.html' %}
{% block page_content %}
    <style>
        .cont {
            display: flex;
        }
        .c1{
            width: 60%;
        }
        .c2{
            width: 30%;
        }
        .col-sm-3{
            width: 100%;
        }
    </style>

    <div class="row cont">
        <div class="c1">
            {% for job in job_list %}
                <div class="col-sm-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{ job.title }}</h5>
                            <p class="card-text">{{ job.description }}</p>
                            <a href="{% url 'details job' pk=job.pk %}" class="btn btn-primary">Details</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="c2">
            <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
                <h1>Favourite Jobs</h1>
                {% for job in fav_jobs %}
                    <a class="card-title" href="{% url 'details job' pk=job.pk %}">{{ job.job }}</a>
                {% endfor %}

            </div>
        </div>

    </div>
{% endblock %}