{% extends 'base/base.html' %}
{% block page_content %}
    <div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
          {% for team in team_list %}

    <div class="card">
      <img src="{{team.logo}}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{ team.name }}</h5>
        <p class="card-text">Category: {{ team.category}} </p>
        <p class="card-text">Team Manager: {{ team.manager.first_name }} {{ team.manager.last_name }} </p>
      </div>
    </div>
  </div>
      {% endfor %}

</div>
{% endblock %}